<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <h1>Create Product</h1>
    <a th:href="@{/blog}">
        Back to product list
    </a>
    <form th:action="@{/blog/save}" th:object="${blog}"
          method="post" novalidate="novalidate">
<!--        <input type="hidden" th:field="*{id}"/>-->
        <table>
            <tr>
                <th>
                    <label for="name">Name</label>
                </th>

                <td>
                    <input required type="text" id="name" th:field="*{name}"/>
                </td>
            </tr>

            <tr>
                <th>
                    <label for="category">Category</label>
                </th>

                <td>
                    <select id="category" th:field="*{category}">
                        <option th:each="c : ${categories}" th:value="${c.getId()}" th:text="${c.getName()}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <th>
                    <label for="link">Link</label>
                </th>

                <td>
                    <input required type="text" id="link" th:field="*{link}"/>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="description">Description</label>
                </th>

                <td>
                    <textarea required style="height: 100px;width: 300px" rows="4" cols="50" type="text" id="description" th:field="*{description}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Confirm"/>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>